/target/

/.idea/
jshell.history
hs_err_pid3704.log
hs_err_pid9008.log
hs_err_pid10444.log
*.class
*.iml
nbactions.xml
/out/
/src/main/resources/config/*.properties
/src/main/java/mx/uv/sistemapizzeria/modelo/dao/.vs/
/nbproject/
